
@page "/"

<style>
    /*
        Styles normally go in a .css file.
        This is just a simple example to get you started.
    */
   

    #containerinto1{
        background-color:white;
        width:90%;
        margin:auto;
        position: absolute;
        top: 20%;
        left: 5%;
        border-radius: 10px;
        word-wrap: break-word;
         overflow:hidden;
        outline: none;
        cursor:none;
        
            
}
    }

    
    @@media only screen and (max-width: 800px) {
   .flexcontainer{
       .flexcontainer
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 1fr;
    }
  }

  @@media screen and (min-width: 801px) {
    .flexcontainer{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }}


    .flexitem{
        padding:10px;
    }

    #lineintro{
         background-image: 
         linear-gradient(to right, #84a395, #4e5f57);
         color:white;
         padding:10px;
         height:20%;
        cursor:none;
         outline: none;
    }

</style>




<div id="containerinto1">
    <div id="lineintro">
        <h1>Hello, I am Umid</h1>
    </div>

    <div class="flexcontainer">
        <div class="flexitem">
                <h2>Welcome</h2>
  
                <p>I am a sophomore at the University of Arizona, where I study computer science and mathematics. During my undergraduate years, I want to explore the tech field as well to find my true passion. After graduation, I am planning to work in the industry before I continue my education in graduate school.</p>
                <p>Currently my interests are web-development, software architecture and database design.</p>
            </div>
            
            <div class="flexitem">
                <h2>Projects</h2>
                <p>
                    The primary purpose of this site is to showase my projects and give some infromation about me.
                    Projects are independently, as a part of schoolwork, or an online course. If you have any question regarding my projects,
                    feel free to email me at umidmuzrapov@arizona.edu.
                </p>
                <p>
                    As I will be working on more projects, the site will grow. Later, I might adopt some of projects for the web,
                    so the users can test them on the web. This should free them from the pain of installing the software from GitHub and configuring it.
                </p>
            </div>

            <div class="flexitem">
                <h3>Useful Links</h3>

                <ul>
                    <li>
                        <a target="_blank" href="https://docs.telerik.com/blazor-ui/introduction">LinkedIn</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://demos.telerik.com/blazor-ui">GitHub</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/telerik/blazor-ui">HackerRank</a>
                    </li>
                    
                </ul>
                
            <h3>Contacts</h3>
            <p><strong> <TelerikIcon Icon="envelop-link"/>Email: umidmuzrapov@arizona.edu</strong></p>
            <p>You can also reach me in LinkedIn.</p>
            </div>
    </div>

</div>
@code {

}
