@layout TelerikLayout

@inherits LayoutComponentBase

<style>
    #tabMenu{
        background-color: #4e5f57;
    }
</style>

<div class="main">

    <div class="top-row px-4" id="tabMenu">
        <NavMenu />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
